<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----===== CSS ===== -->
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!----===== Google Fonts Link For Icons ===== -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>

    <title>Trip Tunes | Home</title>
    <script src="/js/scripts.js" defer></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>

<body class="home-body">
<!--Side bar with buttons START -->
<nav class="sidebar close" th:fragment="side-bar">
    <header>
        <div class="image-text">
            <span class="image">
                <img th:src="@{/assets/img/logo.png}" alt="logo">
            </span>

            <div class="text header-text">
                <span class="name">TripTunes</span>
                <span class="profession">Playlist Generator</span>
            </div>
        </div>

        <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a th:href="@{/home}">
                        <i class='bx bx-home-alt icon'></i>
                        <span class="text nav-text">Home</span>
                    </a>
                </li>
                <li class="nav-link" sec:authorize="isAuthenticated() && hasRole('ADMIN')">
                    <a th:href="@{/admin-portal}">
                        <i class='bx bx-bar-chart-alt-2 icon'></i>
                        <span class="text nav-text">Admin Portal</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#" th:href="@{/playlists}">
                        <i class='bx bxs-playlist icon'></i>
                        <span class="text nav-text">Browse Playlists</span>
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#" th:href="@{/users}">
                        <i class='bx bx-user icon'></i>
                        <span class="text nav-text">All Users</span>
                    </a>
                </li>
                <li class="nav-link" sec:authorize="isAuthenticated()">
                    <a href="#">
                        <i class='bx bx-play-circle icon'></i>
                        <span class="text nav-text">Generate Playlist</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="bottom-content">
            <li class="mode">
                <div class="moon-sun">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>

                <span class="mode-text text">Dark Mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</nav>
<!--Side bar with buttons END -->

<section class="home">

    <!--     Navigation bar with search button START-->
    <nav th:fragment="top-bar">
        <div class="search-container">
            <i class='bx bx-search icon' style="margin-top: 13px"></i>
            <input class="search-box" type="text" placeholder="Search...">
        </div>
        <img sec:authorize="isAuthenticated()" class="user-pic"
             th:src="${user.profile_picture  != null ? user.profile_picture : '/assets/img/logo.png'}"
             onclick="toggleMenu()" alt="user">
        <div sec:authorize="!isAuthenticated()" class="button-1">
            <a th:href="@{/auth/login}">
                <i class='bx bx-log-in icon'></i>
                <span class="text nav-text">Log In</span>
            </a>
        </div>
        <div sec:authorize="!isAuthenticated()" class="button-1">
            <a th:href="@{/auth/register}">
                <i class='bx bx-registered icon'></i>
                <span class="text nav-text">Register</span>
            </a>
        </div>

        <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
                <div class="user-info">
                    <img sec:authorize="isAuthenticated()"
                         th:src="${user.profile_picture  != null ? user.profile_picture : '/assets/img/logo.png'}"
                         alt="user">
                    <h3 sec:authorize="isAuthenticated()" th:text="${user.email.substring(0, user.email.indexOf('@'))}">
                        First Last</h3>
                </div>
                <hr>
                <a sec:authorize="isAuthenticated()" th:href="@{'/users/' + ${user.id}}" class="sub-menu-link">
                    <img th:src="@{/assets/img/profile.png}">
                    <p>My Profile</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img th:src="@{/assets/img/setting.png}">
                    <p>Settings & Privacy</p>
                    <span>></span>
                </a>
                <a href="#" class="sub-menu-link">
                    <img th:src="@{/assets/img/help.png}">
                    <p>Help & Support</p>
                    <span>></span>
                </a>
                <a th:href="@{/auth/logout}" class="sub-menu-link">
                    <img th:src="@{/assets/img/logout.png}">
                    <p>Logout</p>
                    <span>></span>
                </a>
            </div>
        </div>
    </nav>
    <!--     Navigation bar with search button END-->
<!--    testmodal-->
    <button onclick="openModalGenerateTrip()">Open Modal</button>
    <div class="login-wrapper" id="modal-container">
        <form action="#" th:action="@{/playlists/new}" th:object="${playlistDto}" method="post" id="modal">
            <span id="close-btn" onclick="closeModalGenerateTrip()">X</span>
            <h1>Start Your TripTune Journey</h1>
            <div class="login-input-box">
                <input type="text" id="from" name="from" autofocus="autofocus" th:field="*{from}" th:placeholder="#{starting.destination}"  required>
                <i class='bx bx-current-location'></i>
            </div>
            <div class="login-input-box">
                <input type="text" id="to" name="to" autofocus="autofocus" th:field="*{to}" th:placeholder="#{end.destination}" required>
                <i class='bx bx-navigation'></i>
            </div>
            <div class="or-divider">
                <span class="line"></span>
            </div>
            <div class="login-input-box">
                <input type="text" id="generate-playlist-name" name="username" autofocus="autofocus" th:field="*{title}" th:placeholder="#{generated.playlist.name}" required>
                <i class='bx bx-play-circle'></i>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox" th:field="*{tracksFromSameArtist}">Allow Repeating Artists</label>
                <label><input type="checkbox" th:field="*{useTopTracks}">Use Top Tracks</label>
            </div>
            <div class="or-divider">
                <span class="line"></span>
            </div>

            <div id="error-message" style="color: red;"></div>
            <div class="select-genres" th:each="genreKey : ${playlistDto.genres.keySet()}">
                <label>
                    <input type="checkbox" class="genre-checkbox" th:value="genreKey" onchange="toggleInput(this)">
                    <th:block th:text="${genreKey}"></th:block>
                    <div class="slidecontainer">
                        <input type="number" min="0" max="100" value="0" th:value="${playlistDto.genres[genreKey] != 0.0} ? ${playlistDto.genres[genreKey]} : 0" th:field="*{genres[__${genreKey}__]}" disabled><!--                        <span class="slider-value" th:text="${playlistDto.genres[__${genreKey}__] + '%'}">0%</span>-->
                    </div>
                </label>
            </div>

            <div class="or-divider">
                <span class="line"></span>
            </div>
            <input type="hidden" id="genresData" name="genresData" />
            <button type="submit" value="START JOURNEY" class="login-button"><i class="bx bx-headphone"></i>Begin Journey</button>
        </form>
    </div>

    <script>
        function openModalGenerateTrip() {
            document.getElementById('modal-container').style.display = 'flex';
        }

        function closeModalGenerateTrip() {
            document.getElementById('modal-container').style.display = 'none';
        }

        // Close modal if the user clicks outside the modal content
        window.onclick = function (event) {
            var modalContainer = document.getElementById('modal-container');
            if (event.target == modalContainer) {
                modalContainer.style.display = 'none';
            }
        }

        function calculateTotal() {
            var checkedCheckboxes = document.querySelectorAll('.genre-checkbox:checked');
            var total = 0;

            checkedCheckboxes.forEach(function (checkbox) {
                var inputField = checkbox.closest('.select-genres').querySelector('input[type="number"]');
                total += parseInt(inputField.value);
            });

            return total;
        }

        function validateTotal() {
            var total = calculateTotal();
            var errorMessage = document.getElementById('error-message');

            if (total > 100) {
                errorMessage.textContent = 'Total cannot exceed 100. Please adjust your selections.';
                return false;
            } else {
                errorMessage.textContent = ''; // Clear the error message if total is within limits
            }

            return true;
        }

        function toggleInput(checkbox) {
            var inputField = checkbox.closest('.select-genres').querySelector('input[type="number"]');
            var genreKey = checkbox.value;
            var mapField = document.getElementById('genres[' + genreKey + ']');

            if (checkbox.checked) {
                inputField.disabled = false;
                if (inputField.value === '') {
                    // If the field is blank, calculate and set the value in the map
                    var checkedCheckboxes = document.querySelectorAll('.genre-checkbox:checked');
                    var numberOfBlankFields = checkedCheckboxes.length - 1; // excluding the current field
                    var valueToSet = numberOfBlankFields > 0 ? Math.floor((100 - inputField.value) / numberOfBlankFields) : 0;
                    mapField.value = valueToSet;
                } else {
                    // If the field has a value, set it directly in the map
                    mapField.value = parseInt(inputField.value);
                }
            } else {
                inputField.disabled = true;
                inputField.value = 0; // Reset the value when unchecked
                mapField.value = 0; // Reset the value in the map when unchecked
            }
        }


        // Add an event listener for the checkboxes
        document.addEventListener('change', function (event) {
            if (event.target.classList.contains('genre-checkbox')) {
                toggleInput(event.target);
            }
        });

        // Add an event listener for the form submission
        document.getElementById('modal').addEventListener('submit', function (event) {
            if (!validateTotal()) {
                event.preventDefault(); // Prevent form submission if validation fails
            }
        });




    </script>

    <!--testmodal-->
<!--    Dashboard with information START-->
    <div class="overview-boxes">
        <div class="box">
            <div class="left-side">
                <div class="box-topic">Total Users</div>
                <div class="number" th:text="${getUsersCount.toString()}"></div>
            </div>
            <i class='bx bxs-user icon'></i>
        </div>

        <div class="box">
            <div class="left-side">
                <div class="box-topic">Total Playlists</div>
                <div class="number" th:text="${getPlaylistsCount.toString()}"></div>
            </div>
            <i class='bx bxs-playlist icon' ></i>
        </div>

        <div class="box">
            <div class="left-side">
                <div class="box-topic">Total Genres</div>
                <div class="number" th:text="${getGenresCount.toString()}"></div>
            </div>
            <i class='bx bxs-music icon' ></i>
        </div>
    </div>
    <!--    Dashboard with information END-->


<div class="carousels">
    <!--     Carousel for Top 10 Playlists START-->
        <div class="container-playlists">
            <h2 class="topPlaylists">Top 10 Playlists</h2>

            <div class="slider-wrapper">
                <button id="prev-slide-playlists" class="slide-button material-symbols-rounded">
                    <span class="material-symbols-outlined">chevron_left</span>
                </button>
                <div class="image-list">
                    <div th:each="playlist: ${getTopPlaylists}">
                        <div class="image-item">
                            <a th:href="@{'/playlists/' + ${playlist.id}}"><img class="image-item"
                                                                              th:src="${playlist.photoUrl != null ? playlist.photoUrl : '/assets/img/logo.png'}"></a>
                            <div class="content">
                                <div class="icon">
                                    <span th:text="${playlist.rank}" title="Current Rank"></span>
                                    <i class='bx bx-bar-chart' title="Current Rank"></i>
                                </div>
                                <div class="icon">
                                    <span class="playlist-duration" th:text="${playlist.playtime}" title="Total Playtime In Minutes"></span>
                                    <i class='bx bxs-time' title="Total Playtime In Minutes"></i>
                                </div>
                            </div>
                            <div class="playlist-icon">
                                <a th:href="@{'/playlists/' + ${playlist.id}}">
                                    <i class='bx bxs-playlist'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="next-slide-playlists" class="slide-button material-symbols-rounded">
                    <span class="material-symbols-outlined">chevron_right</span>
                </button>
            </div>
            <div class="slider-scrollbar">
                <div class="scrollbar-track">
                    <div class="scrollbar-thumb"></div>
                </div>
            </div>
        </div>
<!--             Carousel for Top 10 Playlists END-->

<!--        Carousel for genres START-->
    <div class="container-genres">
        <div class="container-button">
            <button style="margin-right: 20px" class="button-85" sec:authorize="hasRole('ADMIN')" type="button" onclick="openModal()">Configure</button>
            <a style="text-decoration: none" th:href="@{/sync}"><button class="button-85" sec:authorize="hasRole('ADMIN')" type="button" >Synchronize</button></a>
        </div>
        <div class="container-button">
            <h2 class="topPlaylists">Genres</h2>
            <p sec:authorize="hasRole('ADMIN')" class="updated-info" th:text="'Last updated on: ' + ${lastLog.getTimestamp()}"></p>
        </div>

        <div id="syncModal" class="modal">
            <div class="modal-content">
                <!-- Close button -->
                <span class="close" onclick="closeModal()">&times;</span>

                <!-- Form inside the modal -->
                <form th:action="@{/sync/update}" th:object="${genreSync}">
                    <label for="interval">Minutes:</label>
                    <input type="number" id="interval" placeholder="Minutes" title="Please enter a valid number between 1 and 1440" min="1" max="1440" required pattern="(?:[1-9][0-9]{0,2}|1[0-3][0-9]{2}|1440)"  th:field="*{interval}" />
                    <button type="submit">Sync</button>
                </form>
            </div>
        </div>

        <div class="slider-wrapper">
            <button id="prev-slide-genres" class="slide-button material-symbols-rounded">
                <span class="material-symbols-outlined">chevron_left</span>
            </button>
            <div class="image-list">
                <div th:each="genre: ${genres}">
                    <div class="image-item">
                        <a th:href="@{'/playlists?page=0' +
                         '&size=10' +
                         '&title=' +
                         '&genre=' + ${genre} +
                         '&minDuration>=' +
                         '&maxDuration<='}">
                            <img class="image-item" th:src="${genre.photoUrl != null ? genre.photoUrl : '/assets/img/logo.png'}"></a>
                        <div class="content">
                            <div class="icon">
                                <span th:text="${getPlaylistsPerGenre.get(genre.getId())}" title="Total playlists with this genre"></span>
                                <i class='bx bxs-playlist' title="Total playlists with this genre">   </i>
                            </div>
                        </div>
                        <div class="playlist-icon">
                            <a th:href="@{'/playlists?page=0' +
                         '&size=10' +
                         '&title=' +
                         '&genre=' + ${genre} +
                         '&minDuration>=' +
                         '&maxDuration<='}">
                                <i class='bx bxs-playlist'></i>
                            </a>
                        </div>
                        <div class="genre-name" th:text="${genre.name}"></div>
                    </div>
                </div>
            </div>
            <button id="next-slide-genres" class="slide-button material-symbols-rounded">
                <span class="material-symbols-outlined">chevron_right</span>
            </button>
        </div>
        <div class="slider-scrollbar">
            <div class="scrollbar-track">
                <div class="scrollbar-thumb"></div>
            </div>
        </div>
    </div>
<!--    Carousel for genres END-->
</div>

    <!--Footer START-->
    <footer th:fragment="footer">
        <ul class="social_icon">
            <li><a href="#">
                <ion-icon name="logo-facebook"></ion-icon>
            </a></li>
            <li><a href="#">
                <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
            <li><a href="#">
                <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
            <li><a href="#">
                <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        </ul>
        <!--     <img src="../static/assets/img/fullLogo.png">-->
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p>©2023 Trip Tunes | All Rights Reserved</p>
    </footer>
    <!--Footer END-->
</section>

<!--<script src="/js/scripts.js"></script>-->
<script th:inline="none">
    document.addEventListener("DOMContentLoaded", function () {
        var durationElements = document.querySelectorAll(".playlist-duration");

        durationElements.forEach(function (element) {
            var minutes = parseInt(element.textContent);
            element.textContent = formatDuration(minutes * 60); // convert minutes to seconds
        });

        function formatDuration(seconds) {
            var hours = Math.floor(seconds / 3600);
            var minutes = Math.floor((seconds % 3600) / 60);
            var remainingSeconds = seconds % 60;
            return hours + ":" + (minutes < 10 ? "0" : "") + minutes + ":" + (remainingSeconds < 10 ? "0" : "") + remainingSeconds;
        }
    });
</script>

</body>
</html>